<script src="https://js.stripe.com/v3/"></script>
<link rel="stylesheet" type="text/css" href="css/donation.css" data-rel-css="" />

<div class="thankyou">
    <h1>Thank you!</h1>
    <br />
    <h1>Your donation has been processed successfully!</h1>
</div>

<!-- <script src="js/donation.js" data-rel-js></script> -->
